<div class="container justify-center text-3xl">
    <div class="flex flex-row justify-center m-auto">
      <div class="basis-2/4">
        <app-inputcontroller
          (serverCreated)="onServerAdded($event)"
        ></app-inputcontroller>
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div class="basis-2/4">
        <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        ></app-server-element>
      </div>
    </div>
</div>
